<!-- this is the page of html which displays the details of the post -->
{% extends 'blog/index.html' %}

{% block content %}
    {% if posts.published_date %}<br>
    <div class="a_pd">
        <h2>Blog Title           : {{ posts.title }}</h2><br>
        <h2>Blog Created Date    : {{ posts.created_date }}</h2><br>
        <h2>Blog-Published date  : {{ posts.published_date }}</h2><br>
        <h2>Blog Writter         : {{ posts.author}}</h2>
    </div>

    <hr>
    <a class="btn btn-default" href="{% url 'post_edit' pk=posts.pk %}"> edit<span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
{% endblock %}